<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .boxes {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 60vw;
            gap: 5rem;
            flex-wrap: wrap;
        }

        .box {
            width: 26vw;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            box-shadow: 1px 1px 20px 9px;
            transition: 1s;
            position: relative;
            color: rgb(245, 7, 7);
            min-width: 300px;
        }


        #welcome {
            box-shadow: inset #92b9e0c7 1px 0px 20px 0px;
            padding: 10px 15px;
            margin-top: 10px;
        }

        .btn {
            cursor: pointer;
            transition: 1s;
            width: 26vw;
            height: 30vh;
            margin: 0;
            padding: 0;
            border-radius: 20px;
            min-width: 300px;
        }

        .box:hover {
            transform: scale(1.2);
            z-index: 1;
            font-size: 15px;
            color: rgb(127, 144, 252);
            text-decoration: underline;
        }

        .box h2 a {
            text-decoration: none;
            color: rgb(204, 169, 196);
        }

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 10%;
            position: absolute;
            right: 40px;
            top: 100px;
            min-width: 100px;
            text-align: center;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 100px;
            gap: 80px;
        }

        h2 {
            margin: 0;
        }
    </style>
</head>

<body>
    <h2 id="welcome">WELCOME TO THE FAST TYPING HUB</h2>
    <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#000000">
            <path
                d="M222-255q63-44 125-67.5T480-346q71 0 133.5 23.5T739-255q44-54 62.5-109T820-480q0-145-97.5-242.5T480-820q-145 0-242.5 97.5T140-480q0 61 19 116t63 109Zm257.81-195q-57.81 0-97.31-39.69-39.5-39.68-39.5-97.5 0-57.81 39.69-97.31 39.68-39.5 97.5-39.5 57.81 0 97.31 39.69 39.5 39.68 39.5 97.5 0 57.81-39.69 97.31-39.68 39.5-97.5 39.5Zm.66 370Q398-80 325-111.5t-127.5-86q-54.5-54.5-86-127.27Q80-397.53 80-480.27 80-563 111.5-635.5q31.5-72.5 86-127t127.27-86q72.76-31.5 155.5-31.5 82.73 0 155.23 31.5 72.5 31.5 127 86t86 127.03q31.5 72.53 31.5 155T848.5-325q-31.5 73-86 127.5t-127.03 86Q562.94-80 480.47-80Zm-.47-60q55 0 107.5-16T691-212q-51-36-104-55t-107-19q-54 0-107 19t-104 55q51 40 103.5 56T480-140Zm0-370q34 0 55.5-21.5T557-587q0-34-21.5-55.5T480-664q-34 0-55.5 21.5T403-587q0 34 21.5 55.5T480-510Zm0-77Zm0 374Z" />
        </svg>
        <h2>
            Hi <%= user.first_name %>
        </h2>
    </div>

    <div class="container">


        <div class=" boxes top">
            <form action="">
                <button class="btn" style="border: none;">
                    <div class="box"
                        style="background-image: url('https://img.freepik.com/free-photo/learning-education-ideas-insight-intelligence-study-concept_53876-120116.jpg?semt=ais_hybrid&w=740'); background-position: center; color: rgb(204, 169, 196);">
                        <h2><a href="https://www.edclub.com/sportal/program-3.game">Learnings</a></h2>
                    </div>
                </button>
            </form>

            <form action="/games" method="get">
                <button class="btn" style="border: none;">
                    <div class="box"
                        style="background-image: url('https://media.istockphoto.com/id/1320799591/vector/game-on-neon-game-controller-or-joystick-for-game-console-on-blue-background.jpg?s=612x612&w=0&k=20&c=CbxRq6ctP5Ta1QLu18UMtvgJf4D-zFpTMm0Rz14_Gy0='); background-position: center;color: rgb(204, 169, 196);">
                        <h2>Games</h2>
                    </div>
                </button>
            </form>

        </div>


        <div class="boxes bottom">
            <form method="get" action="/test">
                <button class="btn" style="border: none;">
                    <div class="box"
                        style="background-image: url('https://t4.ftcdn.net/jpg/02/29/10/07/360_F_229100791_ue8lKge54QBQB77KE0LmjCrur0pWWEVH.jpg'); background-position: center;color: rgb(204, 169, 196);">
                        <h2>Tests</h2>
                    </div>
                </button>
            </form>

            <form action="/free_hand" method="get">
                <button class="btn" style="border: none;">
                    <div class="box"
                        style="background-image: url('https://img.freepik.com/premium-photo/male-hand-holds-keyboard-light-isolated_164357-1842.jpg?semt=ais_hybrid&w=740'); background-position: center;color: rgb(204, 169, 196);">
                        <h2>Free Hand Typing</h2>
                    </div>
                </button>
            </form>

        </div>
    </div>

</body>

</html>