<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
            width: 100%;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            width: 30vw;
            height: 60vh;
            box-shadow: bisque 0px 0px 20px 4px;
            border-radius: 20px 0px 20px 0px;
            min-width: 350px;
            padding: 10px;
            margin-top: 100px;
            gap: 20px;
        }

        .labels {
            width: 15vw;
            height: 3vh;
            min-width: 100px;
        }

        .inputs {
            width: 15vw;
            height: 3vh;
            min-width: 100px;
        }

        #btn {
            width: 100px;
            height: 34px;
            border-radius: 15px;
            cursor: pointer;
            background-color: #ff00ee24;
            border: none;
            margin-right: 50px;
        }

        #btn:hover {
            background-color: rgb(235, 129, 129);
        }

        .box {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
    </style>
</head>

<body>

    <form action="/home" method="post">
        <div class="container">
            <div class="box"><label for="user[first_name]" class="labels">First Name : </label>
                <input type="text" name="user[first_name]" placeholder="Bhagat" required class="inputs">
            </div>
            <div class="box"><label for="user[last_name]" class="labels">Last Name : </label>
                <input type="text" name="user[last_name]" placeholder="Singh" required class="inputs">
            </div>
            <div class="box"><label for="user[email_id]" class="labels"> Email Id : </label>
                <input type="text" name="user[email_id]" placeholder="BhagatSingh1947@gmail.com" required
                    class="inputs">
            </div>
            <div class="box"><label for="user[password]" class="labels"> Password : </label>
                <input type="text" name="user[password]" placeholder="Abc@123" required class="inputs">
            </div>
            <div class="box"><label for="user[phone_no]" class="labels"> Phone No. : </label>
                <input type="number" name="user[phone_no]" placeholder="9876543210" required class="inputs">
            </div>
        </div>
        <button id="btn">Submit</button>

    </form>

</body>

</html>